nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    img{
        transition: 0.5s;
        &:hover{
            transform: rotate(360deg);
        }
    }
    div{
        display: flex;
        align-items: center;
        width: 15rem;
        margin-top: 0.4rem;
        justify-content: space-evenly;
    }
    button{
        background: #672B2B;
        position: relative;
        border: none;
        cursor: pointer;
        border: 2px solid rgb(228, 181, 181);
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        font-size: 1rem;
        padding: 0.7rem 1rem;
        color: white;
        font-weight: bold;
        --border-size:2px;
        // &:hover{
        //     background-color: white;
        //     color: #642828;
            
        // }
        &:focus{
            outline-style: none;
        }
    }
    .slide::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: rgb(238, 165, 165);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 300ms ease-in-out;
    }
    .slide{
        z-index: 1;
        
    }
    .slide:hover::before{
        transform: scaleX(1);
        
    }
  
}


@media screen and(max-width:768px) {
    nav{
         img{
        width: 20%;
    }
    button{
        z-index: 10;
    }
}
}