.song-container{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
        width: 25%;
        height: 25%;
        border-radius: 50%;
      
    }
    h2{
        padding: 2rem 1rem 1rem 1rem;
    }
}
.rotate{
    animation-name: rotateImg;
    animation-duration: 30s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
}
@keyframes rotateImg{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media screen and(max-width:768px) {
    .song-container{
    img{
        width: 60%;
    }
}
}