.player {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.time-control {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.time-control input {
  width: 100%;
  padding: 1.5rem 0rem;
}

.time-control p {
  padding: 0.5rem;
}

.song-name {
  padding: 1rem;
}

.play-control {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play-control svg {
  cursor: pointer;
}

.song-container {
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.song-container img {
  width: 25%;
  height: 25%;
  border-radius: 50%;
}

.song-container h2 {
  padding: 2rem 1rem 1rem 1rem;
}

.rotate {
  -webkit-animation-name: rotateImg;
          animation-name: rotateImg;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes rotateImg {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateImg {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background: #200122;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#6f0000), to(#200122));
  background: linear-gradient(to right, #6f0000, #200122);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  overflow-y: scroll;
}

.library h2 {
  padding: 1rem 0rem 0rem 2rem;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(197, 94, 94, 0.5);
  border-radius: 20px;
  border: transparent;
}

.library-song {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  padding: 1rem 2rem 1rem 2rem;
}

.library-song img {
  width: 34%;
  padding-bottom: 0.7rem;
  -webkit-transition: 2s;
  transition: 2s;
}

.library-song h3 {
  font-size: 1rem;
}

.library-song p {
  font-size: 0.7rem;
}

.library-song:hover {
  background-color: #6f0000;
  color: inherit;
  cursor: pointer;
}

.library-song:hover img {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.library-song:hover h3 {
  font-size: 1.2rem;
}

.library-song:hover p {
  font-size: 1rem;
}

.selectedSong {
  background-color: #dfc3c3;
}

.selectedSong h3, .selectedSong p {
  color: #860d46;
}

.showLibrary {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

nav {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15rem;
  margin-top: 0.4rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav button {
  background: transparent;
  border: none;
  cursor: pointer;
  border: 2px solid #e4b5b5;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  color: white;
  font-weight: bold;
}

nav button:hover {
  background-color: white;
  color: #642828;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #333333;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#dd1818), to(#333333));
  background: linear-gradient(to right, #dd1818, #333333);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Balsamiq Sans', cursive;
  color: #f5eced;
}

body h3, body p {
  font-weight: 400;
  color: #C0D1E1;
}
/*# sourceMappingURL=App.css.map */